  
  #header {
    font-family: Baskerville, 'Times New Roman', serif;
    padding:5px;
  }
  
  
  #header > div {
    margin-right:20px;
  }
  
  #header > div:first-child {
    display: flex;
    align-items:baseline;
  }
  
  
  #header > div:first-child p{
    font-style: italic;
    font-size: 1.5em;
  }
  
  #header > div:last-child p{
    margin:10px 0px;
  }
  
  #editor {
    /* display: flex; */
    border: 4px solid #cccccc;
    border-bottom:none;
  }

  #process {
    display: flex;
    font-family: Baskerville, 'Times New Roman', serif;
  }
  
  #process > div {
    width:25%;
    border-top: 4px solid #cccccc;
    border-left: 4px solid #cccccc;
    border-bottom: 4px solid #cccccc;
  }
  
  #process > div:last-child {
    border-right: 4px solid #cccccc;
  }
  
  #process > div > h2 {
    padding: 5px;
    overflow: scroll;
    white-space: nowrap;
    font-size: 1.1em;
    margin:0px;
  }
  
  #process{
    width:100%;
  }
  
  .error {
    background-color: #e94c43 !important;
    /* color:#fff; */
  }
  
  .success {
    background-color: #3D9970 !important;
  }
  
  .message {
    font-family: sans-serif;
    overflow: scroll;
    white-space: nowrap;
    padding:5px;
    color: #fff;
  }


  #tokens{
      width: 100%;
      border-color: white;
      background-color: white;
      resize: none;
    }


.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
}
       

.center{
    display: flex;
    align-items: center;
    justify-content: center;  
}

body{
  background-color: white;
}


#code {
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  border-color:#ccc;
}