<body>
  <header id="header" class="center">
    <div>
      <p> Generator Objects in JavaScript <span id="version"></span></p>
    </div>
  </header>
  <div class="container">
    <div class="abs-center">
      <div class="form-group">
        <div class="input-group">
          <textarea style="border: 4px solid #cccccc; font-family: Baskerville, 'Times New Roman', serif;"
            class="form-control" [(ngModel)]="cadena" name="cadena" rows="10" cols="70"></textarea><br>
        </div><br>
        <button (click)="evaluar()" class="btn btn-outline-primary btn-lg" type="submit">Evaluar</button>
      </div>
    </div>
  </div>

  <div id="process">
    <div>
      <h2>Tokens</h2>
      <div id="tokens-msg" *ngIf="messageLex == 'Succesfully tokerized'; else elseBlock">
        <p class="message success">{{messageLex}}</p>
      </div>
      <ng-template #elseBlock>
        <p *ngIf="messageLex" class="message error">{{messageLex}}</p>
      </ng-template>
      <textarea id="tokens" readonly rows="7" autofocus>{{dataLex | json}}</textarea>
    </div>
    <div>
      <h2>Sintax</h2>
      <div id="sintax-msg" *ngIf="statusSin == 'Sintax correct'; else elseBlock2">
        <p class="message success">{{statusSin}}</p>
      </div>
      <ng-template #elseBlock2>
        <p *ngIf="statusSin" class="message error">{{statusSin}}</p>
      </ng-template>
      <textarea id="tokens" readonly rows="7" autofocus>{{messageSin}}</textarea>
    </div>
    <div>
      <h2>Semantic</h2>
      <div id="sintax-msg" *ngIf="statusSem == 'Semantic correct'; else elseBlock3">
        <p class="message success">{{statusSem}}</p>
      </div>
      <ng-template #elseBlock3>
        <p *ngIf="statusSem" class="message error">{{statusSem}}</p>
      </ng-template>
      <textarea id="tokens" readonly rows="7" autofocus>{{messageSem}}</textarea>
    </div>
    <div>
      <h2>Output</h2>
      <div id="sintax-msg" *ngIf="statusSin == 'Sintax correct'; else elseBlock2">
        <p class="message success">{{messageSin}}</p>
      </div>
      <ng-template #elseBlock2>
        <p *ngIf="messageSin" class="message error">{{messageSin}}</p>
      </ng-template>
      <textarea id="tokens" readonly rows="7" autofocus>{{statusSin}}</textarea>
    </div>

  </div>
</body>

<a href="" #a></a> 
<!-- <div id="code"></div> -->
