<body>
  <header id="header" class="center">
    <div>
      <p> Generator Objects in JavaScript <span id="version"></span></p>
    </div>
  </header>
  <div class="container">
    <ngx-codemirror [(ngModel)]="cadena" [options]="{lineNumbers: true, theme: 'material',mode: 'markdown'}"></ngx-codemirror>
    <div class="abs-center">
      <div class="form-group">

        <button (click)="evaluar()" class="btn btn-lg" type="submit">Evaluar</button>
      </div>
    </div>
  </div>

  <div id="process" #process >
    <div>
      <h2>Tokens</h2>
      <div id="tokens-msg" *ngIf="messageLex == 'Lexic correct'; else elseBlock">
        <p class="message success">{{messageLex}}</p>
      </div>
      <ng-template #elseBlock>
        <p *ngIf="messageLex" class="message error">{{messageLex}}</p>
      </ng-template>
      
      <textarea id="tokens" readonly rows="7" autofocus>{{dataLex | json}}</textarea>
    </div>
    <div>
      <h2>Sintax</h2>
      <div id="sintax-msg" *ngIf="statusSin == 'Sintax correct'; else elseBlock2">
        <p class="message success">{{statusSin}}</p>
      </div>
      <ng-template #elseBlock2>
        <p *ngIf="statusSin" class="message error">{{statusSin}}</p>
      </ng-template>
      <textarea id="tokens" readonly rows="7" autofocus>{{messageSin}}</textarea>
    </div>
    <div>
      <h2>Semantic</h2>
      <div id="sintax-msg" *ngIf="statusSem == 'Semantic correct'; else elseBlock3">
        <p class="message success">{{statusSem}}</p>
      </div>
      <ng-template #elseBlock3>
        <p *ngIf="statusSem" class="message error">{{statusSem}}</p>
      </ng-template>
      <textarea id="tokens" readonly rows="7" autofocus>{{messageSem}}</textarea>
    </div>
    <div>
      <h2>Output</h2>
      <div id="sintax-msg" *ngIf="statusOutput == 'Generate file succes'; else elseBlock4">
        <p class="message success" #p></p>
      </div>
      <ng-template #elseBlock4>
        <p *ngIf="messageOutput" class="message error">{{statusOutput}}</p>
      </ng-template>
      <textarea id="tokens" readonly rows="7" autofocus>{{messageOutput}}</textarea>
    </div>

  </div>
</body>

<!-- <div id="code"></div> -->

<a href="" #a class="a"></a>

